@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;500&family=Crimson+Pro:wght@200&family=IBM+Plex+Serif:wght@300&family=Josefin+Sans:ital,wght@0,100;1,500&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
    padding:0;
    margin:0;
}
body
{
  background-color:rgb(0, 0, 0);
  color: black;
  font-size: 14px;
  font-family: 'Anton', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Crimson Pro', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
  line-height: 1.6em;  
  margin:0px;
  text-align:justify;
  scroll-behavior: smooth;
  letter-spacing: 0.1em;
  
}
.navbar
{
    background-color:rgb(182, 223, 229) !important;
    height:10vh;
}
#contactID
{
    font-size:20px !important;
    color:#502f4c;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    text-align: center;
    
}

.main{
    min-height:100vh; 
    width:100%;
    position:absolute;
}
.main1
{
    min-height:100%; 
    width:100%;
    position:absolute;
}
.img1
{
    background-image: url('../images/new.jpg');
    background-position: center center;
    background-size: cover;
    width:100vw;
}
#personal
{
    border:5px solid rgb(224, 240, 1);
    
    border-top-right-radius:20px !important;
    
}



#personal:hover
{
    transform: rotate(-15deg);
    transform: scale(1.2,1.2);
}
.bi-arrow-right-short
{
    font-size:30px;
    color:#502f4c;
}

.bi-balloon-heart-fill
{
    color:red;
    font-size:2vw;
    animation: move 10s infinite;
}

@keyframes move {
    0% {margin-left:10%}
    25% {margin-left:-6%}
    50% {margin-left:0%}
    75% {margin-left:6%}
    100% {margin-left:10%}
    
}
.bi-balloon-heart-fill:hover
{
   margin-top:-50px;
   font-size:100px;
}
.social
{
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}
.socialDiv{
    margin-bottom:10px;
}


.bi-linkedin,.bi-github,.bi-instagram,.bi-twitter,.bi-envelope,.bi-telephone-fill
{
    color:#502f4c;
    font-size:45px ;
    margin:20px;
    
    
    
}
.style
{
    color:#a319f3;
    font-size:25px ;
    margin:2px;
    text-indent:50px;
    margin-bottom:20px;
}
.style:hover
{
    color:#d2afe7 !important;
    font-size:25px !important;;
    
}
.bi-linkedin:hover,.bi-github:hover,.bi-instagram:hover,.bi-twitter:hover,.bi-envelope:hover,.bi-telephone-fill:hover
{
    color:#904b88c7;
    font-size:45px;  

}
.img2
{
    background-image: url('../images/about.jpg');
    background-position: center center;
    background-size: cover;
}

.img3
{
    background-image: url('../images/skills-img.jpg');
    background-position: center center;
    background-size: cover;
}
.img4
{
    background-image: url('../images/contact.jpg');
    background-position: center center;
    background-size: cover;
}


.titlename
{
    display:block;
    margin-bottom:15px;
    margin-top:15px;
    font-family: 'Courier New', Courier, monospace;
}

#offcanvasRight
{
    transition: transform .2s ease-in-out;
    width:23vw;
    background:transparent;
    font-size:20px;
    letter-spacing:10px;
    
}


.offcanvas-body,.offcanvas-header
{
    background-color:rgba(155, 155, 155, 0.4);
    color: #502f4c;
  
}
.full
{
    width:50%;
}

.nav-link
{
    
    line-height:10vh;
    font-weight:500;
    font-size:2vw;
    background-color:rgba(255, 255, 255, 0.4);
    /*color: #502f4c !important;*/
    color:white !important;
    padding:5px !important;
    letter-spacing: 3px !important;
    background-color: none !important;

}

.anime6
{
    animation:anime6 3s ease-in-out;
}

@keyframes anime6{
    
    
    0% {margin-left:-10%}
    25% {margin-left:-5%}
    100% {margin-left:0%}

}
.nav-link:hover
{
    font-size:2.1vw;
    
}
#v-pills-settings-tab,#v-pills-projects-tab,#v-pills-messages-tab,#v-pills-profile-tab,#v-pills-home-tab
{
    background:transparent !important;
}
#v-pills-settings-tab
{
    animation:anim1 2s ease-in;
}
#v-pills-projects-tab
{
    animation:anim2 2s ease-in;
}
#v-pills-messages-tab
{
    animation:anim3 2s ease-in;
}
#v-pills-profile-tab
{
    animation:anim4 2s ease-in;
}
#v-pills-home-tab
{
    animation:anim5 2s ease-in;
}
@keyframes anim1 {
    0% {margin-top:10%}
}
@keyframes anim2 {
    0% {margin-top:20%}
}
@keyframes anim3 {
    0% {margin-top:30%}
}
@keyframes anim4 {
    0% {margin-top:40%}
}
@keyframes anim5 {
    0% {margin-top:50%}
}
.btn-close,.text-reset
{
    color:white !important;
    font-weight: 900 !important;
    font-size:2vw;

}
.btn-close:hover
{
    color:white !important;
    font-size:2vw;
}
.nav-link:hover
{
    border-left:8px solid #91ff00 !important;
    background-color: none !important;
    display:block !important;
    color:#91ff00 !important;
}
#img1{
    background-image: url('../images/new.jpg');
}
#img2{
    background-image: url('../images/new.jpg');
}
.carousel-caption
{
    margin-bottom:-40px !important;
}
.card1,.card2,.card3
{
    margin-bottom:20px;
    border:2px solid #52055c !important;
}
.carousel-item {
    height:100vh;
    position:relative;
}

.card-img-top
{
    height: 100% !important;
}
.overlay-image
{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position:center;
    
}
.buttonVisit
{
    color:#ffffff !important;
    font-size: 2vw !important;
    font-weight:800 !important;

}
.card-body
{
    max-height:500px;
    font-weight:500;
    font-size:1vw;
    line-height: 6vh;
    background-color:rgb(182, 223, 229,0.1) !important;
    color: #502f4c;
}
.color
{
    color:rgb(182, 223, 229) ;
    padding:3px !important;
    margin: 3px !important;
    
    
}
.card-title
{
    font-size:3vw;
    font-weight: 500;
}
.card-img-top
{
    height:100%;
}
.carousel-caption
{
    font-size:15px;
    font-weight: 500;
    
}
.carousel-caption>h5
{
    animation: anime1 5s ease-in;
}
.carousel-caption>p
{
    animation: anime2 5s ease-in;
}


h2
{
    color: #ff2f3a;
    font-size:20px;
    padding-left:30px;
    padding-top:20px;
    margin-top:10px;

}
#headtitles 
{
    padding:80px;
}

#sp 
{
    color: #502f4c !important;
    text-indent: 50px;
    
}
.special
{
     text-align:justify;
     font-weight:400;
     font-size:22px;
     line-height: 8vh;
     letter-spacing:5px;
     padding:10px;
     color: #502f4c !important;

}
.bg{
    background-image: linear-gradient(95deg, rgba(245, 220, 215, 0.808), rgb(229, 255, 209), rgb(210, 210, 252));
    margin-bottom:20px;
    padding:20px;
    border-radius:20px;
    
}
  
#content_banner
{
    background-color: rgba(226, 251, 255, 0.3);
    color: white;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    padding:30px;
    border-radius:20px;
    max-height:100vh;
    animation:anime3 5s ease-in;
}
@keyframes anime3
{
    0% {margin-top:10%; transform: rotate(-5deg);}
    25% {margin-top:6%; transform: rotate(-4deg);}
    50% {margin-top:0%; transform: rotate(-2deg);}

}
.ptext{
    padding:2px;
    line-height: 2em;
    color:rgba(248, 203, 0, 0.938);
    

}


/*.content
{
    background-color: rgba(226, 251, 255, 0.3);
    color: #502f4c;
    margin:3px;
    text-align:justify; 
    font-size:20px;
    line-height: 50px;
    
}*/
.content1
{
    background-color: rgba(226, 251, 255, 0.3);
    color: #502f4c;
    margin:3px;
    letter-spacing:2px;

    text-align:justify; 
    font-size:2vw;
    line-height: 10vh;
    min-height:50vh;
    animation: anime4 5s ease-in-out;
    
}
@keyframes anime1 {
    0% {margin-left:-100%}
    25% {margin-left:-50%}
    50% {margin-left:0%}

}

@keyframes anime4 {
    
    
    0% {margin-left:-50%}
    25% {margin-left:-30%}
    100% {margin-left:0%}

}
/*@keyframes anime5 {
    
    
    0% {margin-right:-50%}
    25% {margin-right:-30%}
    100% {margin-right:0%}

}*/

.content2
{
    background-color: rgba(226, 251, 255, 0.3);
    color: #502f4c;
    margin:3px;
    height:50vh;
    text-align:justify; 
    font-size:2vw;
    letter-spacing:3px;
    line-height: 10vh;
    animation: anime5 5s backwards;
}
@keyframes anime2 {
    
    
    0% {margin-right:-100%}
    25% {margin-right:-50%}
    50% {margin-right:0%}

}


/*.form input,textarea,button
{
    padding: 10px;
    
    display: block;
    border-radius:4px;
    box-sizing: border-box;
    border: 1px solid rosybrown;
    margin:auto;
    font-weight:500 !important;
    font-size:20px;
    line-height: 50px;
    color: #502f4c;
}*/



.details
{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    font-weight:500;
    
    line-height: 10vh;
}
.bar 
{
    border:2px solid #696969;
    border-radius: 20px;
   
}
.bar div{
    border-radius: 10px;
    height:20px;
    width:0;
    background-color:#52055c;
    
}

h2
{
    margin-bottom: 20px;
    font-size: 80px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
.skills:not(:last-child)
{
    margin-bottom:20px;
}
.w 
{
    
    margin:auto;
    min-width: 32vh;
    

}
/*.nav-link
{
    letter-spacing:20px !important;
    
}*/

.anime3
{
    animation:anime3 5s ease-in;
}
.container
{

  padding:20px 20px 20px;
  border:2px solid rgba(255, 255, 255, 0.06);
  border-radius:10px;
  box-shadow: 0 20px 30px rgba(179, 35, 35, 0.2);
  font-family:"Poppins" ,sans-serif;
  color: #502f4c;
  font-weight:500;
  min-height: 80vh;
  width:80vh;
  font-size:2vw;
  letter-spacing:3px;
  background-color: rgb(255, 255, 255,.2);
  animation: anime3 5s ease-in;
  
}
.boxMap
{
    width:100%;
    
}
.boxMap1
{
    width:100%;
    height:100vh !important;
    
    position: absolute;
}
.form-control{
    border:2px solid #502f4c !important;
    color:#502f4c !important;
    font-size:22px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}
form{
    
    height:80vh !important;
    font-weight:500 !important;
    font-size:15px;
   position: inherit !important;
    color: #502f4c;
}
.cont_form
{
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}
.sub
{
    color:#502f4c; 
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    
}
footer
{
    height:200px;
    border:2px solid grey;
    padding:5px;
    margin-top:100px;
}

.carousel-control-prev-icon,.carousel-control-next-icon
{
    color:black !important;
    font-size: 10% !important;
    background-color:#502f4c !important;
    border-radius: 50%;
    
}
.carousel-control-next-icon:hover,.carousel-control-prev-icon:hover
{
    background-color:#52055c !important;
}

#html-bar
{
    animation: html-fill 2s forwards;

}
@keyframes html-fill 
{
    100%
    {
        width:90%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill
{
    100%
    {
        width:72%;
    }
}

#js-bar
{
    animation: js-fill 2s forwards;
}

@keyframes js-fill
{
    100%
    {
        width:70%;
    }
}
#ReactJs-bar{
    animation:rjs-fill 2s forwards;
}
@keyframes rjs-fill 
{
    100%
    {
        width:70%;
    }
}










